
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Prototype Admin - setting up data
        <span class="govuk-caption-xl">{{releaseVersion}}</span>
      </h1>{{releaseVersion | log }}
      <p>
      	Ideas for a proto admin page - to help with testing with users.
      </p>
      <p>
        Setting up 'saved' data. and changing the content/flow dependent on user input
      </p>

      <h2 class="govuk-heading-m">Session storage</h2>
      <p>Sets up data in the session, and allows you to see the data stored in the session</p>
        <a href="admin">have a play</a>
      </p>
      <h2 class="govuk-heading-m">Database storage</h2>
      <p>Loading data from, and saving to a google sheet - a private sheet only this app can access.  Loads JSON from a cell in a row, and saves to a new row in the sheet.  Loads/saves from thes session storage.</p>
        <a href="admin2">have a play</a>
      </p>
    </div>

</div>

{% endblock %}
